<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/home/jarrod/development/throwaway/logs/openfda.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.opentargets.openfda" level="DEBUG" />
        <appender-ref ref="FILE"/>
    <logger/>

    <logger name="org.apache.spark" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>